body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
	line-height: 1.5;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", sans-serif;
}

.accountControllerComp {
	display: flex;
	width: 100%;
}

.bigContainer {
	width: 80%;
}

#idHome {
	background-color: rgb(39, 16, 173);
	border-color: black;
	border-style: solid 2px;
	margin-bottom: 30px;
	width: 100%;
	text-align: start;
	padding: 15px;
}

.container {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-gap: 10px;
	color: black;
}
.panel {
	background-color: rgb(228, 226, 238);
	align-items: center;
	padding: 10px;
}

#idCreateAccForm {
	/* visibility: collapse; */
	padding: 5px;
	border-style: solid;
	border-radius: 20px;
	border-color: rgb(39, 16, 173);
	border-width: 2px;
}

/* #idAccTable {
      width: 100%;
  } */
.cards {
	display: grid;
	grid-template-columns: 6fr 3fr 1fr;
	/* width: auto; */
	align-items: center;
	justify-items: start;
	padding: 5px;
	border-radius: 20px;
	border-style: solid;
	border-color: rgb(39, 16, 173);
	border-width: 2px;
}

.text {
	grid-column: 2;
	justify-self: end;
}
.Delete {
	grid-column: 3;
	justify-self: end;
	align-self: center;
}

h1 {
	margin: 0;
	margin-top: 20px;
	size: 50px;
	text-align: center;
}

h3,
h4 {
	text-align: center;
	margin: 10px;
}

#idInput {
	width: auto;
	text-align: center;
}

#idSubmit {
	text-align: center;
}
