/* body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", sans-serif;
	color: whitesmoke;
}
body,
html {
	background-color: rgb(39, 16, 173);
	width: auto;
	height: 100%;
	line-height: 1.5;
	margin: 0;
} */

/* .container {
	display: grid;
	grid-template-columns: 75% 25%;
	grid-gap: 10px;
	color: black;
} */

/* .panel {
	background-color: rgb(228, 226, 238);
	align-items: center;
	padding: 10px;
} */
/* .form {
	padding: 5px;
	border-style: solid;
	/* border-radius: 20px; */
/* border-color: rgb(39, 16, 173);
	border-width: 2px;
} */
/* */
/* p {
	margin: 5px;
} */

/* #idAddCity,
#idRightCancel {
	margin: 5px;
}
.groupInput {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
} */

/* .cardsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
} */
/* .cards {
	min-height: 100%;
	max-width: 128px;
	padding-left: 8px;
	padding-right: 8px;

	display: flex;
	flex-wrap: wrap;

	margin: 10px;
	padding: 5px;
	border-radius: 15px;
	border-style: solid;
	border-color: rgb(39, 16, 173);
	border-width: 2px;
	align-items: center;
	text-align: center;
} */
/* .card :hover {
	transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1),
		transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
		-webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1),
		-webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .Delete {
	grid-column: 5;
	justify-self: end;
	align-self: center;
	margin: 5px;
} */
/* 
h1 {
	text-shadow: 1px 1px black;
	margin: 0;
	margin-top: 20px;
	size: 50px;
	text-align: center;
} */

/* h3 {
	text-shadow: 1px 1px black;
	margin: 10px;
}
h4 {
	text-align: center;
	margin: 10px;
} */

/* #idInput {
	width: auto;
	text-align: center;
} */
/* 
#idSubmit {
	text-align: center;
}
#idLowerPanel {
	padding: 10px;
}
#idLeftForm {
	margin-left: 15px;
	margin-right: 15px;
} */
