body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
    color: whitesmoke;
    text-shadow: 1px 1px black;
}
body,
html {
    background-color: rgb(39, 16, 173);
    width: auto;
    height: 100%;
    line-height: 1.5;
    margin: 0;
}
#idHome {
    background-color: rgb(39, 16, 173);
    border-color: black;
    border-style: solid 2px;
    line-height: 1;
    /* margin: 15px; */
    margin-bottom: 30px;
    width: auto;
    text-align: start;
    padding: 15px;  
}
#idUpperPanel,
#idLowerPanel{
    background-image: url("skyline_LosAngeles.jpg");
    background-size: cover;
    opacity: 0.8;
}
.container {
    display: grid;
}
.panel {
    margin: 10px;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    border-color:  rgb(39, 16, 173);    
}
.input{
    margin:10px;
}
p {
    margin: 5px;
}

#idCreateCityForm {
    border-width: 2px;
}
#idAddCity,
#idRightCancel {
    margin:5px;
}
.cityInput {
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    /* text-align: center; */
    width: auto;
}

.cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: auto;
    margin: 2px;
    padding: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color:  rgb(39, 16, 173);
    border-width: 2px;
    align-items: center;
    text-align: start;
} 


.Delete{
    grid-column: 5;
    justify-self: end;
    align-self: center;
    margin: 5px;
}




h1{
    margin: 0;
    margin-top: 20px;
    size: 50px;
    text-align: center;
    
}

h3{
    display: grid;
    margin: 10px;
}
h4{
    text-align: center;
    margin: 10px;
}

 #idInput{
    width: auto;
    text-align: center;
 }

 #idSubmit{
    text-align: center;
 }

 

